@model Models.EF.Book
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Models.EF.BookCategory)ViewBag.Category;
    var tree = (List<Models.EF.BookCategory>)ViewBag.TreeCategory;
    var db = new Models.EF.BookStoreDbContext();
    var link = "/Book/BookDetail?bookId=";
    var similarProduct = (List<Models.EF.Book>)ViewBag.SimilarProduct;
    var sameAuthor = (List<Models.EF.Book>)ViewBag.SameAuthor;
}

@section CustomScript{
    <script>
        /////////////////////
        $('.btnDelete').off('click').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Cart/Delete',
                data: { id: $(this).data('id') },
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if (response.status == true) {
                        window.location.href = "/Book/BookDetail?bookId=@Model.ID";
                    }
                }
            })
        });
    </script>
}

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Trang chủ</a></li>
            <li><a href="/Book/Index">Sách</a></li>
            @if (tree != null && tree.Count > 0)
            {
                for (int i = tree.Count - 1; i >= 0; i--)
                {
                    <li><a href="/Book/Category?category=@tree.ElementAt(i).ID">@tree.ElementAt(i).Name</a></li>
                }
            }
            <li><a href="/Book/Category?category=@category.ID">@category.Name</a></li>
            <li class="active"><a href="@link@Model.ID" style="color:#88bfc5;">@Model.Name</a></li>
        </ul>
    </div>
</div>


<!------------------------------------------>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-4">
                    <img class="img-responsive lazy-load" data-original="@Model.CoverPhoto" alt="@Model.Name">
                </div>
                <div class="col-md-5">
                    <div class="product-body">
                        <div class="product-label">
                            @if (Model.TopHot)
                            {
                                <span class="sale">Hot</span>
                            }
                            @if (Model.New)
                            {
                                <span class="sale">Mới</span>
                            }
                        </div>
                        <h2 class="product-name">@Model.Name</h2>
                        <h3 class="product-price" style="color:red">@Model.Price &#8363;</h3>
                        <p><strong>Mã sách: </strong> @Model.Code</p>
                        <p><strong>Tác giả: </strong> @db.BookAuthors.Find((long)Model.BookAuthor).Name</p>
                        <p><strong>Nhà xuất bản:</strong>@db.BookPublishers.Find((long)Model.BookPublisher).Name</p>
                        <p><strong>Trạng thái: </strong>@Html.Raw((int)Model.Quantity > 0 ? "Còn hàng" : "Hết hàng")</p>
                        <hr />
                        <div class="product-btns">
                            <div class="qty-input">
                                <span class="text-uppercase">Số lượng: </span>
                                <input class="input" type="number" style="border-radius:4px;">
                            </div>

                            <div class="clearfix pull-right">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                            </div>
                        </div>
                        <div class="clearfix pull-right" style="margin-top:10px;">
                            <a href="/Book/AddItem3?bookId=@Model.ID&quantity=1" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
                            <li><a data-toggle="tab" href="#tab2">Giới thiệu sách</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <div id="tab2" class="tab-pane fade in">
                                <p>@Model.Detail</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!--Sản phẩm tương tự-->

<div class="section" style="padding-top:0px;">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Sản phẩm tương tự</h2>
                </div>
            </div>
            <!-- section title -->
            <!-- Product Single -->
            @for (int i = 0; i < 4; i++)
            {
                if (i < similarProduct.Count)
                {
                    var book = similarProduct.ElementAt(i);
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <a href="/Book/BookDetail?bookID=@book.ID" target="_self">
                                <div class="product-thumb" style="height:250px;width:95%">
                                    <div class="product-label">
                                        @if (book.TopHot)
                                        {
                                            <span class="sale">Hot</span>
                                        }
                                        @if (book.New)
                                        {
                                            <span class="sale">New</span>
                                        }
                                    </div>
                                    <img class="img-responsive lazy-load" data-original="@book.CoverPhoto" alt="">
                                </div>
                            </a>
                            <div class="product-body">
                                <h3 class="product-price">@book.Price VNĐ</h3>
                                <h2 class="product-name"><a href="/Book/BookDetail?bookID=@book.ID">@book.Name</a></h2>
                                <div class="product-btns" style="width:85%">
                                    <a href="/Cart/AddItem?bookId=@book.ID&quantity=1" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <a href="/Book/Category?category=@category.ID" class="btn btn-danger pull-right" target="_self">Xem thêm</a>
    </div>
</div>

<!---Cùng tác giả-->

<div class="section" style="padding-bottom:20px;">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Sản phẩm cùng tác giả</h2>
                </div>
            </div>
            <!-- section title -->
            <!-- Product Single -->
            @for (int i = 0; i < 4; i++)
            {
                if (i < sameAuthor.Count)
                {
                    var book = sameAuthor.ElementAt(i);
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <a href="/Book/BookDetail?bookID=@book.ID" target="_self">
                                <div class="product-thumb" style="height:250px;width:95%">
                                    <div class="product-label">
                                        @if (book.TopHot)
                                        {
                                            <span class="sale">Hot</span>
                                        }
                                        @if (book.New)
                                        {
                                            <span class="sale">New</span>
                                        }
                                    </div>
                                    <img class="img-responsive lazy-load" data-original="@book.CoverPhoto" alt="">
                                </div>
                            </a>
                            <div class="product-body">
                                <h3 class="product-price">@book.Price VNĐ</h3>
                                <h2 class="product-name"><a href="/Book/BookDetail?bookID=@book.ID">@book.Name</a></h2>
                                <div class="product-btns" style="width:85%">
                                    <a href="/Cart/AddItem?bookId=@book.ID&quantity=1" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <a href="/Book/Index" class="btn btn-danger pull-right" target="_self">Xem thêm</a>
    </div>
</div>
