@model List<BookStore.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomScript{
    <script>
        $('#btnUpdateCart').off('click').on('click', function (e) {
            e.preventDefault();
            var lsBook = $('.txtQuantity');
            var cartList = [];
            $.each(lsBook, function (i, item) {
                cartList.push({
                    Quantity: $(item).val(),
                    BookPur: {
                        ID: $(item).data('id')
                    }
                });
            });

            $.ajax({
                url: '/Cart/Update',
                data: { cartModel: JSON.stringify(cartList) },
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if (response.status == true) {
                        window.location.href = "/Cart/Index";
                    }
                }
            })
        });
        /////////////////////
        $('#btnDeleteAll').off('click').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Cart/DeleteAll',
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if (response.status == true) {
                        window.location.href = "/Cart/Index";
                    }
                }
            })
        });
        /////////////////////
        $('.btnDelete').off('click').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Cart/Delete',
                data: { id: $(this).data('id') },
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if (response.status == true) {
                        window.location.href = "/Cart/Index";
                    }
                }
            })
        });
    </script>

}

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Trang chủ</a></li>
            <li class="active"><a style="color:#88bfc5;" href="/Cart/Index">Giỏ hàng</a></li>
        </ul>
    </div>
</div>

<div class="section" style="padding-bottom:360px;padding-left:50px;">
    <!-- container -->
    <div class="container">
        <div class="row">
            @if (Model.Count > 0)
            {
                <h3 style="color:black;">Danh sách các mặt hàng trong giỏ hàng</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Mã sách</td>
                                <td>Tên sách</td>
                                <td>Số lượng</td>
                                <td>Đơn giá</td>
                                <td>Thành tiền</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><img class="img-responsive" src="@item.BookPur.CoverPhoto" alt="@item.BookPur.Name"></td>
                                    <td>@item.BookPur.Code</td>
                                    <td>@item.BookPur.Name</td>
                                    <td><input type="text" class="txtQuantity" data-id="@item.BookPur.ID" value="@item.Quantity" /></td>
                                    <td>@item.BookPur.Price</td>
                                    <td>@(item.Quantity * item.BookPur.Price)</td>
                                    <td><a href="#" class="btnDelete" data-id="@item.BookPur.ID">Xóa</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            }
            else
            {
                <h2 style="color:red;">Chưa có sản phẩm nào trong giỏ hàng</h2>
            }
            <br />
            <a href="/Home/Index" class="btn btn-default" id="btnContinue">Tiếp tục mua hàng</a>
            <button class="btn btn-default" id="btnUpdateCart">Cập nhật giỏ hàng</button>
            <button class="btn btn-default" id="btnDeleteAll">Xóa tất cả sản phẩm</button>
            <a href="/CheckOut/Index" class="btn btn-default">Tiến hành thanh toán</a>
        </div>
    </div>
</div>
