@model List<BookStore.Models.CartItem>

<li class="header-cart dropdown default-dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <div class="header-btns-icon">
            <i class="fa fa-shopping-cart"></i>
            <span class="qty" id="totalPurchase">@Model.Count()</span>
        </div>
        <strong class="text-uppercase">Giỏ hàng:</strong>
        <br>
        @{
            var total = Model.Sum(_ => _.BookPur.Price * _.Quantity);
        }
        <span id="totalPrice">@total &#8363;</span>
    </a>
    <div class="custom-menu">
        <div id="shopping-cart">
            <div class="shopping-cart-list">
                @foreach (var item in Model)
                {
                    <div class="product product-widget">
                        <div class="product-thumb">
                            <img class="img-responsive" src="@item.BookPur.CoverPhoto" alt="@item.BookPur.Name">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">@item.BookPur.Price &#8363;<span class="qty"> x @item.Quantity</span></h3>
                            <h2 class="product-name"><a href="/Book/BookDetail?bookID=@item.BookPur.ID">@item.BookPur.Name</a></h2>
                        </div>
                        <button class="cancel-btn btnDelete" data-id="@item.BookPur.ID"><i class="fa fa-trash"></i></button>
                    </div>

                }
            </div>
            <div class="shopping-cart-btns">
                <a href="/Cart/Index" class="main-btn">Xem giỏ hàng</i></a>
                <a href="/CheckOut/Index" class="primary-btn">Đặt hàng <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</li>